body {
  font-family: Roboto, sans-serif;
}

table {
  width: 95%;
  margin: 4% auto;
  border-collapse: collapse;
}

td, th, tr {
  height: 38px;
  border: 1px solid #000;
}

span {
  margin: 8px;
}

th {
  width: 90px;
  background: #eaeaea;
}

.half {
  width: 45px;
}

.big {
  width: 240px;
}

.huge {
  width: 350px;
}

a {
  color: #000;
  text-decoration: none;
}

.centered {
  text-align: center;
}

.submitButton {
  position: absolute;
  text-align: center;
  width: 180px;
  margin: 0 40%;
}

img {
  width: 80px;
  height: 50px;
}

.add {
  text-align: center;
  font-size: 22px;
}
